@import fonts

$app-bar-height      : 40px !default
$app-bar-back        : grey !default
$app-bar-color       : white !default
$app-bar-padding     : 0 !default
$app-content-back    : white !default
$app-content-color   : grey !default
$app-content-padding : 0 !default


.app
  display        : flex
  flex-direction : column
  width          : 100%
  height         : 100%

.app__bar
  width      : 100%
  flex       : 0 0 $app-bar-height
  padding    : $app-bar-padding
  background : $app-bar-back
  color      : $app-bar-color
  box-sizing : border-box
  +heading-font

.app__content
  width      : 100%
  flex-grow  : 1
  padding    : $app-content-padding
  background : $app-content-back
  color      : $app-content-color
  box-sizing : border-box
  +content-font


.app > .app__content
  overflow: auto
