@import colors
@import layout

$app-bar-height      : 3*$unit
$app-bar-back        : $color-dorado
$app-bar-color       : $color-pampas
$app-bar-padding     : $v-space-rows 2*$unit $v-space-rows 5*$unit
$app-content-back    : $color-pearl-bush
$app-content-color   : $color-natural-grey
$app-content-padding : $v-space-rows 2*$unit $v-space-rows 5*$unit

