@import common/color-schemes/_colors
@import common/_fonts 

$column-width : 136px

$breadcrum-font-size : $font-size-1


$app-border : 1px solid $grey-600 

$app-bar-status-marker-block-width : 82px 


$button-height       : 36px 
$button-border-width : 2px 
$button-font-size    : 14px
$button-font-family  : $content-font-family
$button-icon-size    : $font-size-1
$button-hover-opacity : 0.15 
$button-margined-left : 24px 
$button-margin : 8px 
$button-pressed-shadow : inset 0px 2px 5px 0px rgba(black,0.15) 

$buttons-group-back : $grey-300 
$buttons-group-border-color : $grey-500 


$button-state-active-width   : 4px 
$button-state-active-color   : $teal-500 

$button-column-width : $column-width
$button-delim-height : 24px 


$list-caption-height : 80px 
$list-caption-padding  : 0
$list-row-height     : 48px 
$list-row-padding    : 0 16px 0 16px 
$list-caption-margin : 0 0 8px 0 
$list-column-width   : $column-width



$list-row-normal-border-color : $grey-100 !default
$list-row-accent-border-color : $grey-300 !default

