@import common/space/_sizes
@import settings
@import app
@import content-pane
@import common/_buttons

html, body, #app
  @extend .whole
  position : relative
  margin   : 0
  padding  : 0
  z-index  : 0
  font-size : $font-size-0

