@import common/space/_sizes
@import settings
@import app
@import content-pane
@import common/_buttons
@import common/_breadcrumbs
@import common/_list
@import common/_badges
@import common/_tables
@import common/color-schemes/_colors 

html, body, #app
  @extend .whole
  overflow : hidden
  position : relative
  margin   : 0
  padding  : 0
  z-index  : 0
  font-size : $font-size-0


.heading
  margin-top : round($font-size-0*3.0/$unit)*$unit
  margin-bottom : round($font-size-0*1.0/$unit)*$unit

.margin-less
  margin : 0

h1
  @extend .heading-font
  @extend .heading
  font-size : $font-size-4

h2
  @extend .heading-font
  @extend .heading
  font-size : $font-size-3

h3
  @extend .heading-font
  @extend .heading
  font-size : $font-size-2

h4
  @extend .heading-font
  @extend .heading
  font-size : $font-size-1

a
  color : inherit
  text-decoration : none

.common-link
  cursor : pointer
  text-decoration : none
  &:link
    color : $blue-500
  &:visited
    color : $indigo-500
  &:hover
    color : $light-blue-500
    text-decoration : underline
  &:active
    color : $blue-900

.custom-link
  cursor : pointer
  color  : inherit
  text-decoration : none
  display  : inline-block
  position : relative
  &:hover::after
    position : absolute
    content  : " "
    left  : 0
    right : 0
    top   : 0
    bottom : 50%
    margin-bottom : -0.8em
    border-style : solid
    border-width : 0 0 1px 0

.custom-link--full-width
  width : 100%
