@import colors


.greyish-theme
  background   : $grey-200
  color        : $grey-900
  border-color : $grey-300

.dark-greyish-theme
  background   : $grey-500
  color        : white
  border-color : $grey-600

.white-theme
  background   : $grey-50
  color        : $grey-700
  border-color : $grey-100

.success-back-theme
  background   : $teal-500
  color        : white
  border-color : $teal-600

.error-back-theme
  background   : $red-500
  color        : white
  border-color : $red-600

.neutral-back-theme
  background   : $grey-400
  color        : white
  border-color : $grey-500

