$unit         : 8px !default
$block        : 6*$unit !default

$max-margin : 9*$unit !default

$h-margin     : 2*$unit !default
$v-margin     : 2*$unit !default
$v-min-margin : $unit !default

$special-row-height : 7*$unit !default


$row-height         : $block !default
$column-width       : $block !default

