
$badge-padding : 0 8px !default
$badge-height  : 20px !default

$badge-small-padding : 0 2px !default
$badge-small-height  : 18px !default

.badge
  height  : $badge-height
  line-height : $badge-height
  display : inline-block
  padding : $badge-padding
  border-style : solid
  border-width : 1px

.badge--small 
  height : $badge-small-height
  padding : $badge-small-padding
