@import fonts

$breadcrumb-font-size : 32px !default
$breadcrumb-item-margin : 8px !default
$breadcrumb-padding : 0 24px !default

.breadcrumbs
  @extend .heading-font
  position    : relative
  z-index     : 2
  display     : inline-block
  white-space : nowrap
  font-size   : $breadcrumb-font-size
  padding     : $breadcrumb-padding

.breadcrumbs__item
  display : inline-block
  cursor  : pointer
  margin-right : $breadcrumb-item-margin

.breadcrumbs__item--cursor-auto
  cursor : auto


