@import color-schemes/_schemes
@import _fonts

$list-caption-height : 80px !default
$list-caption-fontsize : 40px !default
$list-caption-padding  : 0 16px 0 0 !default
$list-row-height     : 48px !default
$list-row-padding    : 0 16px 0 16px !default 
$list-caption-margin : 0 0 8px 0 !default
$list-column-width   : 104px !default



$list-row-normal-border-color : $grey-100 !default
$list-row-accent-border-color : $grey-300 !default


.list-row
  +white-theme
  height : $list-row-height
  display : flex
  align-items : center
  margin-top : -1px
  margin-bottom : -1px
  padding : $list-row-padding
  border-style : solid
  border-width : 1px 0 1px 0

.list-row--normal
  +white-theme
  border-color : $list-row-normal-border-color

.list-row--accent
  +greyish-theme
  border-color : $list-row-accent-border-color
  font-weight  : bold

.list-row--success
  +success-color-theme

.list-row--error
  +error-color-theme



.list-caption
  @extend .heading-font
  height : $list-caption-height
  display : flex
  align-items : center
  margin : $list-caption-margin
  font-size : $list-caption-fontsize
  padding : $list-caption-padding 

.list-column
  display     : flex
  flex-direction : column
  justify-content : center
  align-items : center
  flex-shrink : 0
  flex-basis  : $list-column-width

.list-column--grow
  flex-grow : 1

.list-column--left
  align-items : flex-start

.list-column--right
  align-items : flex-end

