@import color-schemes/_schemes
@import _fonts

$list-caption-height : 80px !default
$list-caption-fontsize : 40px !default
$list-row-height     : 48px !default
$list-row-padding    : 0 16px 0 16px !default 
$list-caption-margin : 0 0 8px 0 !default
$list-column-width   : 104px !default



$list-row-normal-border-color : $grey-100 !default
$list-row-accent-border-color : $grey-300 !default


.list-row
  +white-theme
  height : $list-row-height
  line-height : $list-row-height
  display : flex
  margin-top : -1px
  margin-bottom : -1px
  padding : $list-row-padding
  border-style : solid
  border-width : 1px 0 1px 0

.list-row--normal
  +white-theme
  border-color : $list-row-normal-border-color

.list-row--accent
  +greyish-theme
  border-color : $list-row-accent-border-color
  font-weight  : bold

.list-row--success
  +success-color-theme

.list-row--error
  +error-color-theme



.list-caption
  @extend .heading-font
  height : $list-caption-height
  line-height : $list-caption-height 
  width : 100%
  display : flex
  margin : $list-caption-margin
  font-size : $list-caption-fontsize

.list-column
  display     : inline-block
  text-align  : center
  flex-shrink : 0
  flex-basis  : $list-column-width

.list-column--grow
  flex-grow : 1

.list-column--left
  text-align  : left

.list-column--right
  text-align  : right

